.feedMainContainer {
  margin: 16px; }

.feedImage {
  display: flex;
  align-items: center;
  margin: auto;
  height: 240px;
  max-width: 180px;
  overflow: hidden; }

.imgResponsive {
  display: block;
  width: 100%; }

.feedItem {
  width: 18.1111%;
  padding: 8px;
  margin: 4px;
  min-height: 330px;
  max-height: 350px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 0.5);
  background-color: #ffffff;
  border: solid 1px #d9d9d9;
  float: left; }

.feedDetailsForm {
  overflow-y: scroll;
  height: 85px; }

.feedDetailsFormError {
  display: block;
  background-color: rgba(255, 2, 2, 0.45);
  color: #af0101;
  padding: 8px;
  margin-top: 8px; }
