@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:300,700&display=swap');

.weddingCover {
	position: relative;
	overflow: hidden;
}

.weddingImage {
	display: block;
    width: 100%;
}

.content {
    position: absolute;
    width: 65%;
    text-align: center;
    background-color: rgba(90, 0, 0, 0.5);
    right: 0px;
    top: 16px;
    font-family: 'Ruthie', cursive;
    padding: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
}

.zeroMargin {
	margin: 0px;
	color: rgba(255, 255, 255, 0.56);
}

.heading {
    font-size: 2em;
    margin-top: 0px;
}

.headingSmall {
    font-size: 1.5em;
}
.linkStyle {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.56);
	font-size: 2em;
	background-color: #A84E04;
    display: block;
    padding: 0 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 3px 26px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 26px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 26px 1px rgba(0,0,0,0.75);
    animation: pulse 5s 1;
}

@keyframes pulse {
  0% {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
  }
  25% {
    -ms-transform: scale(0.75); /* IE 9 */
    -webkit-transform: scale(0.75); /* Safari */
    transform: scale(0.75);
  }
  50% {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
  }
  75% {
    -ms-transform: scale(0.75); /* IE 9 */
    -webkit-transform: scale(0.75); /* Safari */
    transform: scale(0.75);
  }
  100% {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
  }
}

.heartContainer {
    position: absolute;
    bottom: 16px;
    width: 40%;
    img {
        display: block;
        width: 100%;
    }
}

.profile-img {
    display: block;
    width: auto;
    height: 250px;
    margin-top: 24px;
  }

.about-me {
    padding-top: 2em;
}

::selection {
    background:rgba(74, 179, 161, 0.75);
}

@media (min-width: 768px) and (orientation: portrait) {
    .heartContainer {
        bottom: 4em;
        width: 40%;
    }
    .content {
        top: 4em;
    }
    .heading {
        font-size: 4em;
    }
    .headingSmall {
        font-size: 2.5em;
    }
    .linkStyle {
        font-size: 4em;
    }
    .profile-img {
        height: 170px;
    }
}

@media (min-width: 768px) and (orientation: landscape) {
    .heartContainer {
        bottom: 2em;
        width: 38%;
    }
    .content {
        top: 1em;
        width: 60%;
    }
    .heading {
        font-size: 2em;
    }
    .linkStyle {
        font-size: 2em;
    }
} 

@media (min-width: 1024px) {
    .heartContainer {
        bottom: 2em;
        width: 33%;
    }
    .content {
        top: 2em;
    }
    .heading {
        font-size: 3em;
    }
    .headingSmall {
        font-size: 2.5em;
    }
    .linkStyle {
        font-size: 3em;
    }
}

@media (min-width: 2560px) {
    .heartContainer{
        width: 23%;
    }
}

.container {
    flex-grow: 1;
}

.home {
    background-color: #272727;
    font-family: 'Noto Serif TC', serif;

}

.home div {
    box-sizing: border-box;
}

.my-profile {
    width: 100%;
    padding: 0 12px;
}

.company {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0px;
}

.work-exp {
    font-size: 32px;
    font-weight: 700;
}

.company a {
    text-decoration: none;
}

.my-profile, .company a , .contact-details {
    color: rgba(245, 255, 254, 0.75);
}

.projectName {
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.description-container {
    margin: 32px 0;
}

.description {
    margin: 0px;
}

.skills {
    font-weight: bold;
}

.note {
    font-size: 12px;
    font-style: italic;
    margin: 0px;
}

.contact-icon {
    margin-right: 16px;
}

.section-title {
    font-weight: bold;
}

.contact-list {
    margin: 8px 0;
}

.social-icons {
    margin-left: 0px;
    margin-right: 8px;
}

.social-media-section {
    display: flex;
}

.contact-detail-container {
    padding-bottom: 24px;
}

.company-list img {
    display: block;
    height: 40px;
    width: auto;
    margin: auto;
}

.company-list p {
    margin: 4px 0;
    text-align: center;
    color: #272727;
}

.company-list div {
    background: rgba(245, 255, 254, 0.75);
    padding: 8px;
    border-radius: 4px;
}

@media (min-width: 600px) {
    .my-profile {
        width: 80%;
        margin: auto;
    }
    .social-media-section {
        justify-content: flex-end;
    }
    .social-icons {
        margin-right: 0px;
        margin-left: 8px;
    }
}